@model ResorcesQuotationViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    ViewBag.Title = "Quotation";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="StyleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="" style="display:flex; margin-left:1172px;">
        <div class="form-check">
            <a class="link" for="flexRadioDefault1" asp-controller="home" asp-action="ChangeLanguage" asp-route-lang="en">
                <input class="" onclick='location.href="/Home/ChangeLanguage?lang=en";' type="radio" name="flexRadioDefault" id="flexRadioDefault1" @(Thread.CurrentThread.CurrentUICulture.ToString() == "en" ? "checked" : "")>English
            </a>
        </div>
        <div class="form-check" style="margin-left:-46px;">

            <a class="link" for="flexRadioDefault2" asp-controller="home" asp-action="ChangeLanguage" asp-route-lang="gj">
                <input class="" onclick='location.href="/Home/ChangeLanguage?lang=gj";' type="radio" name="flexRadioDefault" id="flexRadioDefault2" @(Thread.CurrentThread.CurrentUICulture.ToString() == "gj" ? "checked" : "")>Gujarati
            </a>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: -30px;">
        <div class="row flex-nowrap">
            <div class="d-flex flex-column  flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;height:600px;">
                <a href="https://localhost:7037/home/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <span class="fs-4">K B Chauhan</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="https://localhost:7037/home/GetDocumentDtl" class="nav-link link-body-emphasis"  aria-current="page">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                            <i class="fa-solid fa-user-plus fa-xl" style="color: #000000;margin-right: 0.7rem;"></i></i>Follow
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://localhost:7037/home/GetQuotationlDtl" class="nav-link active">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                            <i class="fa-solid fa-quote-right fa-xl" style="color: #ffffff;margin-right: 0.7rem;"></i>Quotation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://localhost:7037/home/AddUser" class="nav-link link-body-emphasis">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                            <i class="fa-solid fa-user fa-xl" style="color: #050505;margin-right: 0.7rem;"></i>Add User
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rightSide">
        <div>
            <header>
                <h4 style="padding: 5px;">
                   Quotation
                </h4>
            </header>
        </div>
        <div class="page">
            <form method="post" enctype="multipart/form-data">
                <div class="card" style="margin-right:120px;margin-left:-305px;margin-top:-20px;">
                    <div class="card-body">
                        <div class="">
                            <label for="Name" class="form-label">@Model.Resource["Name"]</label>
                            <input type="text" class="form-control smallsize" id="Name" name="Name" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Name : "")">
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="Village" class="form-label">@Model.Resource["Village"]</label>
                                <input type="text" class="form-control smallsize" id="Village" name="Village" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Village : "")">
                            </div>

                            <div class="col-md-4">
                                <label for="Taluka" class="form-label">@Model.Resource["Taluka"]</label>
                                <input type="text" class="form-control smallsize" id="Taluka" name="Taluka" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Taluka : "")">
                            </div>
                            <div class="col-md-4">
                                <label for="District" class="form-label">@Model.Resource["District"]</label>
                                <input type="text" class="form-control smallsize" id="District" name="District" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.District : "")">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="SurveyNo" class="form-label">@Model.Resource["Survey Number"]</label>
                                <input type="text" class="form-control smallsize" id="SurveyNo" name="SurveyNo" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.SurveyNo : "")">
                            </div>
                        </div>

                        <div class="">
                            <label for="LandArea" class="form-label">@Model.Resource["Area of Uncultivated Land"]</label>
                            <input type="text" class="form-control smallsize" id="LandArea" name="LandArea" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.LandArea : "")">
                        </div>

                        <div class="">
                            <label for="MobileNo" class="form-label">@Model.Resource["Mobile Number"]</label>
                            <input type="text" class="form-control smallsize" id="MobileNo" name="MobileNo" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.MobileNo : "")">
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <label for="ApplicationNo" class="form-label">@Model.Resource["Application No"]</label>
                                <input type="text" class="form-control smallsize" id="ApplicationNo" name="ApplicationNo" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.ApplicationNo : "")">
                            </div>
                            <div class="col-md-4">
                                <label for="App_Date" class="form-label">@Model.Resource["Date"]</label>
                                <input type="text" class="form-control smallsize" id="App_Date" name="App_Date" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.App_Date : "")">
                            </div>
                        </div>
                        <div class="">
                            <label for="Email" class="form-label">@Model.Resource["Mail Instred into the Application"]</label>
                            <input type="text" class="form-control smallsize" id="Email" name="Email" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Email : "")">
                        </div>
                        <div class="">
                            <label for="App_mobileNo" class="form-label">@Model.Resource["Mobile Number Instred into the Application"]</label>
                            <input type="text" class="form-control smallsize" id="App_mobileNo" name="App_mobileNo" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.App_mobileNo : "")">
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <label for="ProcessFees" class="form-label">@Model.Resource["Amount of Proccessing fees"]</label>
                                <input type="text" class="form-control smallsize" id="ProcessFees" name="ProcessFees" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.ProcessFees : "")">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <label for="Pro_Refe_no" class="form-label">@Model.Resource["Reference Number for payment of Proccessing Fees"]</label>
                                <input type="text" class="form-control smallsize" id="Pro_Refe_no" name="Pro_Refe_no" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Pro_Refe_no : "")">
                            </div>
                            <div class="col-md-4">
                                <label for="Pro_Date" class="form-label">@Model.Resource["Date"]</label>
                                <input type="text" class="form-control smallsize" id="Pro_Date" name="Pro_Date" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Pro_Date : "")">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <label for="MeasurementNo" class="form-label">@Model.Resource["Measurement Application Number"]</label>
                                <input type="text" class="form-control smallsize" id="MeasurementNo" name="MeasurementNo" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.MeasurementNo : "")">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label for="Measur_Refe_No" class="form-label">@Model.Resource["Reference Number for payment of Measurement Fees"]</label>
                                <input type="text" class="form-control smallsize" id="Measur_Refe_No" name="Measur_Refe_No" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Measur_Refe_No : "")">
                            </div>
                            <div class="col-md-4">
                                <label for="Measur_Date" class="form-label">@Model.Resource["Date"]</label>
                                <input type="text" class="form-control smallsize" id="Measur_Date" name="Measur_Date" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Measur_Date : "")">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <label for="MeasurOrNot" class="form-label">@Model.Resource["Measured or not"]</label>
                                <input type="text" class="form-control smallsize" id="MeasurOrNot" name="MeasurOrNot" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.MeasurOrNot : "")">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="Opinion" class="form-label">@Model.Resource["Opinion"]</label>
                                <input type="text" class="form-control smallsize" id="Opinion" name="Opinion" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Opinion : "")">
                            </div>
                            <div class="col-md-4">
                                <label for="CircleOfficer" class="form-label">@Model.Resource["Circle Officer"]</label>
                                <input type="text" class="form-control smallsize" id="CircleOfficer" name="CircleOfficer" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.CircleOfficer : "")">
                            </div>
                        </div>
                        <div style="margin-left:208px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Mamlatdar" class="form-label">@Model.Resource["Mamlatdar"]</label>
                                    <input type="text" class="form-control smallsize" id="Mamlatdar" name="Mamlatdar" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Mamlatdar : "")">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Other" class="form-label">@Model.Resource["Other(if any)"]</label>
                                    <input type="text" class="form-control smallsize" id="Other" name="Other" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Other : "")">
                                </div>
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="col-md-5">
                                <label for="Con_letter_Date" class="form-label">@Model.Resource["Date of letter for payment of Conversion Tax"]</label>
                                <input type="text" class="form-control smallsize" id="Con_letter_Date" name="Con_letter_Date" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Con_letter_Date : "")">
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="col-md-5">
                                <label for="Con_Amount" class="form-label">@Model.Resource["Amount of Conversion Tax"]</label>
                                <input type="text" class="form-control smallsize" id="Con_Amount" name="Con_Amount" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Con_Amount : "")">
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="col-md-8">
                                <label for="Con_Refe_No" class="form-label">@Model.Resource["Reference Number for payment of Conversion Tax"]</label>
                                <input type="text" class="form-control smallsize" id="Con_Refe_No" name="Con_Refe_No" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Con_Refe_No : "")">
                            </div>
                            <div class="col-md-4">
                                <label for="Con_Date" class="form-label">@Model.Resource["Date"]</label>
                                <input type="text" class="form-control smallsize" id="Con_Date" name="Con_Date" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Con_Date : "")">
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="col-md-3">
                                <label class="form-label">@Model.Resource["Details of Conversion Tax Amount received"]</label>
                            </div>

                            <div class="col">
                                <div class="rado" style="display:flex;">
                                    <div class="form-check ">
                                        <input class="form-check-input" type="radio" name="Con_Amount_Dtl" value="@Model.Resource["Cash"]" id="Con_Amount_Dtl1" @(Model.Quotaion != null && Model.Quotaion.Id != 0 && Model.Quotaion.Con_Amount_Dtl == "Cash" ? "checked" : "")>
                                        <label class="form-check-label" for="Con_Amount_Dtl1">
                                            @Model.Resource["Cash"]
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="Con_Amount_Dtl" value="@Model.Resource["Online"]" id="Con_Amount_Dtl2" @(Model.Quotaion != null && Model.Quotaion.Id != 0 && Model.Quotaion.Con_Amount_Dtl == "Online" ? "checked" : "")>
                                        <label class="form-check-label" for="Con_Amount_Dtl2">
                                            @Model.Resource["Online"]
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="Amount_Dtl_Date" class="form-label">@Model.Resource["Date"]</label>
                                <input type="text" class="form-control smallsize" id="Amount_Dtl_Date" name="Amount_Dtl_Date" value="@(Model.Quotaion != null && Model.Quotaion.Id != 0 ? Model.Quotaion.Amount_Dtl_Date : "")">
                            </div>
                        </div>
               
                        <div class="row g-3">
                            <div class="col-md-2">
                                <label class="form-label">@Model.Resource["Layout"]</label>
                            </div>
                            <div class="col m-3">
                                <div class="rado" style="display:flex;">
                                    <div class="form-check ">
                                        <input class="form-check-input" type="radio" name="layout" value="@Model.Resource["Pending"]" id="layout1" @(Model.Quotaion != null && Model.Quotaion.Id != 0 && Model.Quotaion.layout == "Pending" ? "checked" : "")>
                                        <label class="form-check-label" for="layout1">
                                            @Model.Resource["Pending"]
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="layout" value="@Model.Resource["Ok"]" id="layout2" @(Model.Quotaion != null && Model.Quotaion.Id != 0 && Model.Quotaion.Con_Amount_Dtl == "Ok" ? "checked" : "")>
                                        <label class="form-check-label" for="layout2">
                                            @Model.Resource["Ok"]
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">@Model.Resource["Uncultivated Application"]</label>
                                </div>
                                <div class="col">
                                    <div class="rado" style="display:flex; margin-left:-40px;">
                                        <div class="form-check ">
                                            <input class="form-check-input" type="radio" name="uncultivat_appli" value="@Model.Resource["Remaining"]" id="uncultivat_appli1" @(Model.Quotaion != null && Model.Quotaion.Id != 0 && Model.Quotaion.uncultivat_appli == "Remaining" ? "checked" : "")>
                                            <label class="form-check-label" for="uncultivat_appli1">
                                                @Model.Resource["Remaining"]
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="uncultivat_appli" value="@Model.Resource["Complete"]" id="uncultivat_appli2" @(Model.Quotaion != null && Model.Quotaion.Id != 0 && Model.Quotaion.uncultivat_appli == "Complete" ? "checked" : "")>
                                            <label class="form-check-label" for="uncultivat_appli2">
                                                @Model.Resource["Complete"]
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">@Model.Resource["Measurement Application"]</label>
                                </div>
                                <div class="col">
                                    <div class="rado" style="display:flex; margin-left:-40px;">
                                        <div class="form-check ">
                                            <input class="form-check-input" type="radio" name="Measurment_appli" value="@Model.Resource["Remaining"]" id="Measurment_appli1" @(Model.Quotaion != null && Model.Quotaion.Id != 0 && Model.Quotaion.Measurment_appli == "Remaining" ? "checked" : "")>
                                            <label class="form-check-label" for="Measurment_appli1">
                                                @Model.Resource["Remaining"]
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="Measurment_appli" value="@Model.Resource["Complete"]" id="Measurment_appli2" @(Model.Quotaion != null && Model.Quotaion.Id != 0 && Model.Quotaion.Measurment_appli == "Complete" ? "checked" : "")>
                                            <label class="form-check-label" for="Measurment_appli2">
                                                @Model.Resource["Complete"]
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">@Model.Resource["Conversion Tax"]</label>
                                </div>
                                <div class="col">
                                    <div class="rado" style="display:flex; margin-left:-40px;">
                                        <div class="form-check ">
                                            <input class="form-check-input" type="radio" name="ConversionTax" value="@Model.Resource["Remaining"]" id="ConversionTax1" @(Model.Quotaion != null && Model.Quotaion.Id != 0 && Model.Quotaion.ConversionTax == "Remaining" ? "checked" : "")>
                                            <label class="form-check-label" for="ConversionTax1">
                                                @Model.Resource["Remaining"]
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="ConversionTax" value="@Model.Resource["Complete"]" id="ConversionTax2" @(Model.Quotaion != null && Model.Quotaion.Id != 0 && Model.Quotaion.ConversionTax == "Complete" ? "checked" : "")>
                                            <label class="form-check-label" for="ConversionTax2">
                                                @Model.Resource["Complete"]
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <label class="form-label">@Model.Resource["Layout"]</label>
                                </div>
                                <div class="col">
                                    <div class="rado" style="display:flex; margin-left:-40px;">
                                        <div class="form-check ">
                                            <input class="form-check-input" type="radio" name="lay_out" value="@Model.Resource["Remaining"]" id="lay_out1" @(Model.Quotaion != null && Model.Quotaion.Id != 0 && Model.Quotaion.lay_out == "Remaining" ? "checked" : "")>
                                            <label class="form-check-label" for="lay_out1">
                                                @Model.Resource["Remaining"]
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="lay_out" value="@Model.Resource["Complete"]" id="lay_out2" @(Model.Quotaion != null && Model.Quotaion.Id != 0 && Model.Quotaion.lay_out == "Complete" ? "checked" : "")>
                                            <label class="form-check-label" for="lay_out2">
                                                @Model.Resource["Complete"]
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="Document" class="form-label">@Model.Resource["Invoice"]</label>
                                </div>
                                <div class="col-md-6" style="display:flex;margin-left:-40px">
                                    <input class="form-control form-control-sm" id="Document" name="Document" type="file">
                                    @* <input type="hidden" name="id" value="" />
                                    <input type="hidden" name="sourceType" value="Follow" />   *@
                                    @*<button asp-action="UploadFile" asp-controller="home" type="submit" class="btn btn-light upload" style="width:100px;">Upload</button> 
                                    <label class="btn btn-light upload" style="width:100px;" id="Document" name="Document">Upload</label>*@
                                    <label class="btn btn-light upload" style="width:100px;" id="Document" name="Document">Upload</label>
                                </div>
                            </div>
                        </div>
                <div class="row">
                    <div class="col-md-12">
                        @if(Model.Quotaion != null && Model.Quotaion.Id != 0)
                        {
                            <button asp-action="EditQuotation" asp-route-id="@Model.Quotaion.Id" asp-controller="Home" type="submit" class="btn btn-primary mt-4" style="width:100px;">Update</button>
                        }
                        else
                        {
                            <button asp-action="AddQuotation" asp-controller="Home" type="submit" class="btn btn-primary mt-4" style="width:100px;">Submit</button>
                        }
                        <a asp-action="GetQuotationlDtl" asp-controller="home" class="btn btn-primary mt-4 mx-3" style="width:100px;">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
